<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
  <meta name="go-import" content="dmd.tanna.dev git https://gitlab.com/tanna.dev/dependency-management-data">
  <meta name="go-source"
    content="dmd.tanna.dev _ https://gitlab.com/tanna.dev/dependency-management-data/tree/main{/dir} https://gitlab.com/tanna.dev/dependency-management-data/blob/main{/dir}/{file}#L{line}">

  <link rel="stylesheet" href="https://classless.de/classless.css">
  <link rel="stylesheet" href="https://classless.de/addons/themes.css">
  <style type="text/css" media="all">
  :root {
    --font-p: 1em/1.7 monospace;
    --font-h: .9em/1.5 monospace;
    --font-c: .9em/1.4 monospace;
    --width: 70rem;
  }
  nav {
    width: 150%;
  }
  </style>

  {{ if .Params.asciinema }}
  <link rel="stylesheet" href="/css/asciinema-player.css">
  {{ end }}
</head>
