<div id="asciinema-player-{{ .Get "id" }}">
</div>

<script type="text/javascript" src="/js/asciinema-player.min.js"></script>

<script type="text/javascript" charset="utf-8">
    AsciinemaPlayer.create('/casts/{{ .Get "id" }}.cast', document.getElementById('asciinema-player-{{ .Get "id" }}'));
</script>
