---
title: Schemas
---
Dependency Management Data produces various types of data into the underlying SQLite database.

Below you can find the schemas in the database.

{{ range .Schemas }}
## `{{ .Filename }}`

```sql
{{ .Contents }}
```
{{ end }}
