{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Content }}

<ul>
  {{ range .Pages.ByWeight }}
  <li>
    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>{{ if .Description }}: {{ .Description }}{{ end }}
  </li>
  {{ end }}
</ul>

{{ end }}
