{{ define "main" }}
<h1>Dependency Management Data</h1>

<h2>What is it?</h2>

<div class="card hint">

  <p>Dependency Management Data (DMD) is a set of tooling to get a better understanding of the use of dependencies
    across
    your
    organisation.</p>

  <p>The aim is to provide you with a set of queryable data about how your projects use configured, so you can target
    changes across your projects and organisation more appropriately.</p>

</div>

<h2>What can it tell me?</h2>

<p>Have you ever wondered any of the below?</p>

<ul>
  <li>I wish I had an SQL database, filled with information about all my projects' dependencies that I could run queries
    against</li>
  <li>What is my most-used dependency across all my projects?</li>
  <li>What is my most-used indirect/transitive dependency across all my projects?</li>
  <li>How is Open Source being used across the organisation?</li>
  <li>What languages and frameworks are being used at my company?</li>
  <li>How much of an effect is the <a href=https://twitter.com/elithrar/status/1601247147332358144>archiving of the
      Gorilla Toolkit for Go</a> going to have across my organisation?</li>
  <li>How much of an effect is <a href="https://news.ycombinator.com/item?id=35154025">Docker Inc sunsetting Free Team
      orgs</a> going to have across my organisation? (<a
      href="https://www.jvt.me/posts/2023/03/15/dmd-docker-usage/">Answer using DMD</a>)</li>
  <li>What's the distribution of versions of our internal libraries across the organisation?</li>
  <li>Do I use any software that's end-of-life?</li>
  <li>Do I use any software that's got any CVEs?</li>
  <li><a href="https://www.jvt.me/posts/2022/06/01/idea-supply-chain-monetisation/">What projects can/should I send
      financial contributions to?</a> (See also <a href="https://stackaid.us">StackAid</a>)</li>
</ul>

<p>If so, <a href="https://gitlab.com/tanna.dev/dependency-management-data">this suite of Free and Open Source
    software</a> is for you. You can get a similar offering to some vendors, completely for free 🤑</p>

<h2>How does it work?</h2>

<p>There is <a href="https://gitlab.com/tanna.dev/dependency-management-data#command-line-tool">a command-line
    tool</a>, <code>dmd</code>, which aims to make this an easier way to interact with the data.</p>

<p>Once you have collected the data through <a href="/related/">one of the supported tools</a> you can then <a
    href="/commands/dmd_import/">import it</a>.</p>

<p>Once imported, you can use <a href="/web/">the inbuilt <code>dmd-web</code> tool</a> to get a Web frontend (including
  SQLite frontend via <a href="https://datasette.io/">Datasette</a>), load it locally through your preferred SQLite
  interface, or use <a href="/commands/dmd_report/">one of the built-in reports</a>.</p>

<p>If you want more of an idea of the command-line tool before you download it, check out <a href="/commands/dmd/">the
    docs for <code>dmd</code>.</a>
</p>

<h2>How do I get started?</h2>

<h3>With my own data</h3>

<p>Check out the <a href="/cookbooks/getting-started/">Getting Started cookbook</a>.</p>

<h3>With the example data</h3>

<p>Check out the <a href="/cookbooks/getting-started-example/">Getting Started (with the example data) cookbook</a>.</p>

<h2>Where can I learn more?</h2>

<p>There are several linked blog posts and talks on the <a href="/related/">/related</a> page.</p>

{{ end }}
